<ion-content padding class="transparent-header" style="background-image: url(assets/imgs/background-login.jpg)">
    <div padding>
        <ion-row>
            <ion-col>
                <img class="logo" src="assets/imgs/company-logo.png" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <form [formGroup]="signInForm">
                    <ion-list>
                        <ion-item>
                            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-item class="error-container" *ngIf="signInForm.controls.email.invalid && (signInForm.controls.email.dirty || submitAttempt)">
                            <div *ngFor="let validation of validationMessages">
                                <span class="error" *ngIf="signInForm.get('email').hasError(validation.type) ">{{validation.message}}</span>
                            </div>
                        </ion-item>

                        <ion-item>
                            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                        </ion-item>
                        <ion-item class="error-container" *ngIf="signInForm.controls.password.invalid && (signInForm.controls.password.dirty || submitAttempt)">
                            <div *ngFor="let validation of validationMessages">
                                <span class="error" *ngIf="signInForm.get('password').hasError(validation.type) ">{{validation.message}}</span>
                            </div>
                        </ion-item>
                    </ion-list>
                </form>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button color="secondary" class="login-button" (click)="login()">Login</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div (click)="goToSignUp()">
                    <span>Or create a new account.</span>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
