<ion-header>
    <ion-navbar color="primary">
        <ion-title>Chats</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let chat of chats | async" (click)="openChat(chat)">
            <h2>{{ chat.title }}</h2>
            <p *ngIf="chat.lastMessage; else customMessage">{{chat.timestamp | date:'dd/MM/y H:mm'}} - {{chat.lastMessage}}</p>
            <ng-template #customMessage>
                <p>No messages</p>
            </ng-template>
        </button>
    </ion-list>
</ion-content>
